<%- include("partials/header.ejs") %>
  <%- include("partials/nav-bar.ejs") %>

    <section id="work" class="parallax-section" style="background-position: 50% 465px;">
      <div class="container">
        <div class="row">

          <div class="wow fadeInUp section-title animated" data-wow-delay="0.2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h2 class="mb-4">My Experience</h2>
          </div>

          <ul class="timeline">
            <li>
              <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h4>Voithru</h4>
                <em>
                  <span>Senior Content Translator</span>
                  <span> | </span>
                  <span>Remote</span>
                  <span> | </span>
                  <span>October 2019 - Present</span>
                </em>

                <p>
                </p>
                <ul style="list-style-type:disc;">
                  <li>Translate an average of 13+ hours of Massive Open Online Course (MOOC) lectures per week between Korean and English</li>
                  <li>Provide review and verification of translation work as required, including spotting errors in punctuation, grammar, and translation,
                    reducing 97% of errors in mistranslation</li>
                  <li>Developed comprehensive guidelines to standardize translation work, ensuring consistency and quality across all projects</li>
                </ul>
                <p></p>

              </div>

            </li>

            <li>

              <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

                <h4>The University of Texas at Austin - Computer Science Department </h4>

                <em>
                  <span>Machine Learning Teaching Assistant (TA)</span>
                  <span> | </span>
                  <span>Austin, TX</span>
                  <span> | </span>
                  <span>May 2024 - August 2024</span>
                </em>

                <ul style="list-style-type:disc;">
                  <li>Delivered machine learning tutorials and facilitated hands-on workshops on NLP and CV to 50+ students, leading to a 25%
                    improvement in project efficiency outcomes and a 30% increase in understanding of key ML concepts, as measured by assessments</li>
                  <li>Optimized learning materials by incorporating Python libraries such as TensorFlow, Keras, Pandas, and NumPy, resulting in a 15%
                    reduction in student debugging time and a 20% increase in on-time project submissions</li>
                  <li>Maintained a top answer status on the class Q&A forum, Ed, consistently outperforming other TAs setting a benchmark for excellence</li>
                </ul>
                <br>

              </div>

            </li>

            <li>

              <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

                <h4>The University of Texas at Austin - Stephen Yi Laboratory</h4>

                <em>
                  <span>Research Assistant</span>
                  <span> | </span>
                  <span>Austin, TX</span>
                  <span> | </span>
                  <span>December 2023 - August 2024</span>
                </em>

                <p>
                </p>
                <ul style="list-style-type:disc;">
                  <li>Designed and implemented a cutting-edge application focused on automating cell type labeling in spatial images, leveraging multi-
                    omics data integration to achieve superior accuracy</li>
                  <li>Collaborated closely with Stephen Yi Laboratory team to ideate, develop, and optimize predictive models for cell type identification
                    utilizing spatial biology data, fostering collaborative innovation and advancement</li>
                </ul>
                <br>

              </div>

            </li>

            <li>

              <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

                <h4>Texas A&M University - Sketch Recognition Lab</h4>

                <em>
                  <span>Research Assistant</span>
                  <span> | </span>
                  <span>College Station, TX</span>
                  <span> | </span>
                  <span>May 2022 - May 2023</span>
                </em>

                <p>
                </p>
                <ul style="list-style-type:disc;">
                  <li>Collaborated on a research project to reduce errors of Computer Vision (CV) in poor conditions like interreflection, clutter, occlusion</li>
                  <li>Reviewed scholarly papers before being published to The Association for the Advancement of Artificial Intelligence Conference</li>
                  <li>Assisted in curating datasets and preprocessing workflows, ensuring high-quality input for machine learning model training</li>
                </ul>

              </div>

            </li>

            <li>

              <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

                <h4>Ram Store</h4>

                <em>
                  <span>Retail Sales Manager</span>
                  <span> | </span>
                  <span>College Station, TX</span>
                  <span> | </span>
                  <span>October 2021 - May 2023</span>
                </em>

                <p>
                </p>
                <ul style="list-style-type:disc;">
                  <li>Increased sales by 20% by leveraging a random forest regression model in R to analyze customer behavior, identifying key patterns in store dwell-time, age, and gender</li>
                  <li>Spearheaded annual uniform donation events and fundraisers for Student Government, driving community engagement by designing and promoting Student Council spirit shirts</li>
                  <li>Enhanced customer communication and engagement by regularly updating subscribers through a targeted newsletter campaign, leading to increased awareness of new products and successful upselling of promotional merchandise</li>
                </ul>
                <br>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </section>

    <%- include("partials/footer.ejs") %>