<%- include("partials/header.ejs") %>
<%- include("partials/nav-bar.ejs") %>

<section id="work" class="parallax-section" style="background-position: 50% 465px;">
<div class="container">
  <div class="row">

    <div class="wow fadeInUp section-title animated" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

      <h2>My Experience</h2>

    </div>

    <ul class="timeline">

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Klaviyo</h4>

          <em>
            <span>Software Engineer Intern</span>
            <span> | </span>
            <span>Boston, MA (Remote)</span>
            <span> | </span>
            <span>June 2020 - August 2020</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Partnered with a full-time Klaviyo engineer to build font importing and storing infrastructure so
              that customers can use custom fonts in their Klaviyo-created content, allowing them to maintain a
              cohesive brand throughout their website</li>
            <li>Used React, Typescript, and Redux to build a font management interface to incorporate user’s
              custom
              fonts into their content</li>
            <li>Worked on and received approval for a plan for the project architecture, including data models,
              type
              structures, and an API contract</li>
            <li>Partnered closely with Product and Design to build with the user experience in mind</li>
            <li>Wrote automated tests using React Testing Library &amp; did extensive manual testing of each
              aspect
              of the feature</li>
          </ul>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Quest for Intelligence - The Bridge</h4>

          <em>
            <span>Researcher and AI Software Developer for the Gaze Coding Project</span>
            <span> | </span>
            <span>Cambridge, MA</span>
            <span> | </span>
            <span>February 2020 - Present</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Used video processing, AI, and ML to automate the labeling of babies’ gaze direction in early
              cognition research videos</li>
            <li>Completed the CITI Program Human Research: Data or Specimens Only Research - Basic Course</li>
            <li>Discussed and outlined the ethical ramifications of the project alongside several different
              ethicists</li>
            <li>Created and tested several classification models to label babies' gaze direction using GCP Video
              Intelligence</li>
            <li>Figured out how to and wrote documentation for connecting to a Debian VM from a Windows PC with
              X11
              forwarding</li>
            <li>Modified <a target="_blank" style="color:#63634d"
                href="https://gitlab.com/yusuke-sugano/opengaze-docker/-/tree/master">OpenGaze docker
                implementation</a> to use X11 forwarding in order to resolve core dumping issues</li>
            <li>Wrote a Python script that takes in an OpenGaze video processing output and converts it into a
              properly-formatted gaze label TSV</li>

          </ul>
          <br>
          <p style="font-size: 14px"> View the open-source project my work was added to <a target="_blank"
              href="https://github.com/mit-quest/gaze-coding"><b>here</b></a>.</p>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Microsoft</h4>

          <em>
            <span>Azure Machine Learning Intern</span>
            <span> | </span>
            <span>Boston, MA</span>
            <span> | </span>
            <span>January 2020 - February 2020</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Used MLflow to create an end-to-end system that can intake a dataset, run a model, and output the
              results and statistics to your Azure ML account</li>
            <li>Integrated a differentially private logistic regression model created by IBM</li>
            <li>Created a differentially private linear regression model compatiable with scikit-learn using the
              covariance method</li>
            <li>Worked with Harvard and Microsoft researchers on a differentially private stochastic gradient
              descent model</li>
          </ul>
          <br>
          <p style="font-size: 14px"> View the open-source project my work was added to <a target="_blank"
              href="https://github.com/opendifferentialprivacy/whitenoise-system"><b>here</b></a>.</p>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Klaviyo</h4>

          <em>
            <span>Software Engineer Intern</span>
            <span> | </span>
            <span>Boston, MA</span>
            <span> | </span>
            <span>June 2019 - August 2019</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Changed existing logic for settings update so that it would no longer trigger historical data
              sync,
              and added separate historical sync feature to the UI</li>
            <li>Rewrote code to import CSV files and cut down upload time for a file with 500,000 rows from 12
              hours
              to 15 minutes </li>
            <li>Updated infrastructure to separate out API calling from business logic and added instrumentation
              to
              collect data on interactions with APIs</li>
          </ul>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Quest for Intelligence - The Bridge</h4>

          <em>
            <span>Researcher and AI Software Developer for the K-12 Education Initiative</span>
            <span> | </span>
            <span>Cambridge, MA</span>
            <span> | </span>
            <span>February 2019 - June 2019</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Trained a ProGAN on castle images from MIT's Places2 dataset</li>
            <li>Used Gandissect to analyze the nodes of the network and understand which node generates what</li>
            <li>Helped integrate the results of Gandissect with front-end code that used Scratch to create a
              kid-friendly program that allows them to interact with the GAN</li>
          </ul>
          <br>
          <p style="font-size: 14px"> View the open-source project my work was added to <a target="_blank"
              href="https://github.com/mit-quest/k12scratch-GANs"><b>here</b></a>.</p>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Arcadia Funds, LLC</h4>

          <em>
            <span>Data Analytics Intern</span>
            <span> | </span>
            <span>Burlington, MA</span>
            <span> | </span>
            <span>January 2019 - February 2019</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Built a variety of machine learning models to identify potential auto loan borrowers who are
              likely
              to default</li>
            <li>Created a program that scraped a web form to collect data on cars’ value over time</li>
            <li>Coded in Python and used a variety of data visualization and machine learning tools (Keras,
              Tensorflow, Sklearn, Pyplot, etc)</li>
          </ul>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Vivint Smart Home</h4>

          <em>
            <span>Software Intern</span>
            <span> | </span>
            <span>Boston, MA</span>
            <span> | </span>
            <span>June 2018 - August 2018</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Investigated the data pipeline from surveillance cameras to database</li>
            <li>Researched and prototyped new server infrastructure to increase efficiency and lower cost</li>
            <li>Learned usage of Docker, Google Cloud Platform, Terraform, GStreamer, and FFmpeg, among others
            </li>
            <li>Presented summary of my research and explained my prototype</li>
            <li>Collaborated on and presented project answering question: What will the interconnected lifestyle
              look like in 10 years?</li>
          </ul>
          <p></p>

        </div>

      </li>

      <li>

        <div class="wow fadeInUp timeline-content animated" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h4>Juni Learning</h4>

          <em>
            <span>Senior Instructor</span>
            <span> | </span>
            <span>December 2017 - Present</span>
          </em>

          <p>
          </p>
          <ul style="list-style-type:disc;">
            <li>Teach computer science video lessons for children ages 9-16 </li>
            <li>Instruct students in Scratch, Java, web design, and introductory, intermediate, and advanced
              Python
              programming classes</li>
            <li>Create tutorial videos that walk through how to create projects in Python, Scratch, and Java</li>
          </ul>
          <p></p>

        </div>

      </li>

    </ul>

  </div>
</div>
</section>

<%- include("partials/footer.ejs") %>