/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .title {
      font-size: 5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
      font-size: 6rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
      font-size: 7rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .title {
      font-size: 8rem;
  }
}

body {
  font-family: "Cabin", sans-serif;
  /*font-family: "Acorn", Arial, sans-serif;*/
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1em !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 3em !important;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.nav-item .nav-link.active {
  background-color: black;
  color: white;
  border-radius: 100px;
}


.title {
  font-size: 4rem; /* Default font size */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.feature-icon-small {
  width: 1.5em;
  height: 1.5em;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#profile-image {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  margin-top: -30px;
  transition-behavior: lazy;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 340.796875px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.sticky-element {
  position: sticky;
}

.nav-item {
  color: black;
  border-radius: 100px !important;
}

.active {
  background-color: black;
  color: white;
  border-radius: 100px;
}

.nav-item:hover,
a:hover,
.active {
  background: black !important;
  color: white !important;
  border-radius: 100px !important; /* Ensure border-radius is consistent */
}
